<nav class="navbar navbar-inverse">
  <div class="navbar-collapse collapse" uib-collapse="isNavCollapsed">
    <button type="button" class="btn btn-default" aria-label="Left Align">
      <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true">
        <div ht-sidebar whenDoneAnimating="vm.sidebarReady()"></div>
      </span>
    </button>
    <div class="pull-right navbar-logo">
      <ul class="nav navbar-nav pull-right">
        <li>
          <a ng-href="{{vm.navline.link}}" target="_blank">
              {{vm.navline.text}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>