<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-collapse collapse" uib-collapse="isCollapsed">
    <button type="button" class="btn btn-default" aria-label="Left Align">
      <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
    </button>
    <div class="pull-right navbar-logo">
      <ul class="nav navbar-nav pull-right">
        <li>
          <a ng-href="{{vm.navline.link}}" target="_blank">
              {{vm.navline.text}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>