<nav role="navigation" ng-controller="NavtreeController as vm">
    <span class="navtree">
        <ul id="topnav" class="nav">
            <li class="dropdown nav navbar-nav">
                <button id="btn-login" type="button" ng-click="" ng-hide="true" class="fa fa-sign-in" aria-hidden="true">Log In</button>
                <button id="btn-logout" type="button" ng-click="" class="fa fa-sign-out" aria-hidden="true">Log Out</button>
            </li>>
            <li class="box-btn-menu">
                <button id="btn-translate" type="button" data-toggle="dropdown" class="fa fa-flag" ></button>
                <ul class="dropdown-menu" role="menu">
                    <li> <a ng-click="vm.setLang('ca')" translate="CATALA"></a></li>
                    <li> <a></a></li>
                    <li> <a ng-click="vm.setLang('gl')" translate="GALICIAN"></a></li>
                    <li> <a ng-click="vm.setLang('en')" translate="ENGLISH"></a></li>
                    <li> <a ng-click="vm.setLang('es')" translate="SPANISH"></a></li>
                </ul>
                <button id="btn-burger" type="button" ng-click="vm.btnHamburguerOnClick()" ng-hide="vm.btnBurgerCollapsed" class="fa fa-bars "></button>
            </li>
        </ul>
    </span>
    
    <div class="menu" ng-hide="vm.navCollapsed">
        <ul>
            <li class="nlightblue fade-selection-animation" ng-class="vm.isCurrent(r)" ng-repeat="r in vm.navRoutes">
                <a ui-sref="{{r.name}}" ng-bind-html="r.settings.content"></a>
            </li>
        </ul>
    </div>
</nav>