<nav role="navigation" ng-controller="NavtreeController as vm">
    <div id="topnav" class="navtree">
        <button id="btn-burger" type="button" ng-click="vm.btnHamburguerOnClick()" ng-hide="vm.btnBurgerCollapsed" class="fa fa-bars ">   
        </button>
        <div class="pull-right navbar-logo">
            {{vm.navline.text}}
        </div>
    </div>
    <div class="menu" ng-hide="vm.navCollapsed">
        <ul>
            <li class="nlightblue fade-selection-animation" ng-class="vm.isCurrent(r)" ng-repeat="r in vm.navRoutes">
                <a ui-sref="{{r.name}}" ng-bind-html="r.settings.content"></a>
            </li>
        </ul>
    </div>
</nav>