<div class="div-full" >
  <header class="clearfix">
    <div ng-include="'app/layout/navtree.html'"></div>
  </header>
  <main ui-view id="content" class="content">
    
    <div class="shuffle-animation, div-full"></div>

    <div ngplus-overlay ngplus-overlay-delay-in="50" ngplus-overlay-delay-out="700" ngplus-overlay-animation="dissolve-animation">
      <img src="images/busy.gif" />

      <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>
    </div>
  </main>
  <footer>
    <footer-dir></footer-dir>
  </footer>
</div>