@import "variables.scss";
/*  ==========================================================================
    CSS general del modulo auth
    ========================================================================== */

/*  ==========================================================================
    Social buttons
    ========================================================================== */
    #btn-facebook {
        @include border-radius(1px);
        @include btn-social($color_azul_facebook, '../../images/icons/icons-Facebook.svg');
        padding: 5px;
    }

    #btn-twitter {
        @include border-radius(1px);
        @include btn-social($color_rojo_google, '../../images/icons/icons-GooglePlus.svg');
        padding: 5px;
    }

    #btn-google {
        @include border-radius(1px);
        @include btn-social($color_azul_twitter, '../../images/icons/icons-Twitter.svg');
        padding: 5px;
    }

    #btn-email {
        @include border-radius(1px);
        @include btn-social($color_verde_mail, '../../images/icons/icons-email.svg');
        padding: 5px;
    }