/* ==========================================================================
   CSS CONTACT
   ========================================================================== */

    .base-section-contact {
        @include background-default('../../images/formulario.png');
   }

   .base-article-contact {
        @include border-radius(1px);

        align-self: center;
        background-color: $color_blanco_translucido;
        height: 100%;
        min-height: 40%;
        margin-bottom: 15%;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        max-width: 450px;
        width: 90%;

        h2 {
             /* tiempo de duracion de la animacion */
            animation-duration: 5s;
            /* nombre de la animacion */
            animation-name: slidein;
            /* veces que se repite la animcaion */
            animation-iteration-count: 1;    
            color: $color_alerta;
            font-size: 3em;
            font-weight: bold;
            padding: 5%;
            text-shadow: 0px 0px 9px $color_blanco;
        }
    }