/* ==========================================================================
   SASS MIXIN
   ========================================================================== */
/* ==========================================================================
   SASS MIXIN
   ========================================================================== */

   @mixin background-default($image) {
        @include border-left-right(1px);
        
        background-repeat: no-repeat;
        //background-origin: border-box;
        background-image: url($image);
        background-size: auto;
        background-position: center;
   }

/* ==========================================================================
   BORDER
   ========================================================================== */    
    
    @mixin border-left-right($size) {
        border-left: $size solid $color_gris;
        border-right: $size solid $color_gris;
    }
    
    @mixin border($size, $color) {
        border: $size solid $color;
    }

    @mixin border-bottom-green($size) {
        border-color: transparent;
        border-bottom: $size solid $color_verde;
    }

    @mixin border-radius($size) {
        border: $size solid $color_gris;
        -moz-border-radius: 0.5em;
        -webkit-border-radius: 0.5em;
        border-radius: 0.5em;
    }


/* ==========================================================================
   SIZES
   ========================================================================== */

   @mixin responsive-layout($max, $height) {
        height: $height;
        max-width: $max;
        -moz-height:  $height;
        -moz-max-width: $max;
        -webkit-height:  $height;
        -webkit-max-width: $max;
    }

/* ==========================================================================
   BUTTONS
   ========================================================================== */

   @mixin btn-nav {
        background-color: $color_gris_oscuro;
        border: $border_size solid $color_gris_oscuro;
        color: $color_blanco;
        font-size: $font_size * 2;
        margin-left: $padding_size / 2;
        &:hover{
            text-decoration: none;
            color: $color_verde;
        }   
   }

   @mixin btn-social($backgroundColor, $backgroundImg) {
        background-color: $backgroundColor;
        background-image: url($backgroundImg);
        background-position: 20%;
        background-repeat: no-repeat;
        background-size: contain;        
    }

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
    @mixin mq-phone-width {
        @media (max-width: #{$phone-width} - 1px) {
            @content;
        }
    }

    @mixin mq-tablet-width {
        @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
            @content;
        }
    }

    @mixin mq-desktop-width {
        @media (min-width: #{$tablet-width}) and (max-width: #{desktop-width - 1px}) {
            @content;
        }
    }

    @mixin mq-panoramic-desktop-width {
        @media (min-width: #{$desktop-width}) {
            @content;
        }
    }