/*  ==========================================================================
    NAV-TREE STYLE
    ========================================================================== */

/* ==========================================================================
   Css para la barra de navegación principal
   ========================================================================== */
    header {
        flex: 0 0 auto;
        background-color: $color_gris_oscuro;
        align-items: center;
    }

    nav {
        @include border-left-right(1px);
        @include responsive-layout(auto, 10%);
        background-image: url('../../images/title-findmenu.svg');
        background-position: 50% 0;
        background-repeat: no-repeat ;
        flex-direction: column;
        display: flex;
        align-items: center;
        
        .navtree{
            @include border-bottom-green($border_size);
            @include responsive-layout(800px, 10%);
            width: 100%;
            ul {
                width: 50%;
                li {
                    display: block !important;

                    #btn-burger {
                        align-self: left;
                        @include btn-nav;

                        @include mq-desktop-width{
                            display: none;    
                        }
                    }

                    #btn-translate {
                        @include btn-nav;
                    }

                    #btn-settings {
                        @include btn-nav;
                    }

                    #btn-login {
                        @include btn-nav;
                    }

                    #btn-logout {
                        @include btn-nav;
                    }

                    .btn-nav-right {
                        float: right;
                        width: 40%;
                    }
                }
            }
        }

        .menu {
            @include border($border_size, transparent);
            @include responsive-layout(800px, 10%);
            background-color: $color_alerta;
            width: 100%;
            float: left; /* Desplazamos el nav hacia la izquierda */
            
            ul {
                list-style: none;
                -webkit-margin-before: 0em;
                -webkit-margin-after: 0em;
                overflow: hidden; /* Limpiamos errores de float */
                padding: $padding_size;

                li {
                    float: left;
                    font-size: $font_size * 2;
                    margin-right: $padding_size * 2;
                    
                    a {
                        padding-right: $padding_size * 2;
                        color: $color_gris_oscuro;

                        &:active {
                        color: $color_verde;
                        }

                        &:hover {
                            color: $color_gris_claro;
                            text-decoration: none;
                        }
                    }

                    &:hover {
                        box-shadow:
                        0px 1px $color_gris_claro,
                        0px 2px $color_gris_claro,
                        0px 3px $color_gris_claro;
                        -webkit-transform: translateY(-3px);
                        transform: translateY(-3px);
                    }
                }
            }
        }
    }   
