/*  ==========================================================================
    NAV-TREE STYLE
    ========================================================================== */

    #header_content {
        padding-left: 10%;
        padding-right: 10%;
    }

    #topnav{
        background-color: #EEEB2B;
        display: inline-block;
        @include responsive-layout(800px, 10%);
        width: 100%;
        padding-left: auto;
        padding-right: auto;
    }
