.article-h3 {
    color: $color_alerta;
    font-size: 2em;
    font-weight: bold;
    padding: 5%;
}

#product-list-article{
    font-size: $font_size * 2;

   
    ol {
        font-size: $font_size;
        height: 500px;
        flex-direction: column;
        overflow-x: visible;
        overflow-y: scroll;
        direction:rtl;

        li {
            direction:ltr;
        }
    }

    @media (min-width: #{$tablet-width}) {
        ol {
            width: 60%;
            align-self: right;
        }
    }
    #product-data {
        label {
            display: block;
            color: $color_alerta;

            strong {
                color: $color_blanco;
            }
        }
        .product-img {
            max-height: 125px;
            max-width: 125px;
        }
    }
}
