@import "variables.scss";
@import "mixin.scss";

@import "auth.scss";
@import "navtree.scss";


//@import url('https://fonts.googleapis.com/css?family=Sarina');


#splash-pag{
    background-color: #4EE;
}

/* ==========================================================================
   CSS general de la aplicacion "mobile first"
   ========================================================================== */
    html,
    body {
        display: flex;
        flex-direction: column;
        height: 100%;
        .div-full {
            height: 100%;
        }
    }

    .profile{
        font-size: 50%;
    }

/* ==========================================================================
   Css para el section
   ========================================================================== */
    main{
        background-color: $color_gris_oscuro;
        height: 100%;
        width: 100%;
    }

    section{
        display: block;
        background-color: $color_gris_oscuro;
        padding: $padding_size;
        @include border-invisible(2px);

        @include mq-phone-width{
            @include responsive-layout(auto, 100%);    
        }

        @include mq-tablet-width{
            @include responsive-layout(400px, 100%);    
        }

        @include mq-desktop-width{
            @include responsive-layout(600px, 100%);    
        }

        @include mq-panoramic-desktop-width{
            @include responsive-layout(800px, 100%);    
        }
    }

/* ==========================================================================
   Css para el main section
   ========================================================================== */
   .base-section {
        @include border-radius(1px);
        background-repeat: no-repeat;
        //background-origin: border-box;
        background-image: url('../../images/pantalla-carga.png');
        background-size: auto;
        background-position: center;

        margin-left: auto;
        margin-right: auto;
        text-align: center;
   }

   .base-article {
        @include border-radius(1px);

        align-self: center;
        background-color: $color_gris_transulucido;
        height: auto;
        min-height: 40%;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        max-width: 450px;
        width: 90%;

        h2 {
             /* tiempo de duracion de la animacion */
            animation-duration: 5s;
            /* nombre de la animacion */
            animation-name: slidein;
            /* veces que se repite la animcaion */
            animation-iteration-count: 1;    
            color: $color_alerta;
            font-size: 3em;
            font-weight: bold;
            padding: 5%;
        }
   }

   .button-default{
        @include border-radius(1px);
        align-self: center;
        color: $color_gris_oscuro;
        font-size: $font_size * 1.5;
        padding-bottom: 0.25em;
        padding-top: 0.25em;
        margin-bottom: 5%;
        width: 90%;

        &:hover{
            background-color: $color_blanco;
            color: $color_verde;
            border: 5px solid $color_verde;
        }
   }

/* ==========================================================================
   Css footer
   ========================================================================== */
    footer {
        color: $color_blanco;
        flex: 2 1 auto;
        align-self: flex-end;
        background-color: $color_gris_claro;
        text-align: center;
        max-height: 10%;
    }

/* ==========================================================================
   Css animaciones
   ========================================================================== */
    /* declaramos la animacion con los diferentes prefijos,
    desde el inicio (0%) asta el fin (100%) */
    @-webkit-keyframes slidein {
        2% {
            opacity: 0;
            margin-top: 50%;
            margin-bottom: 50%
        }
        100% {
            opacity: 1;
            margin: 1em;
        }
    }
    @-moz-keyframes slidein {
        2%   {
            opacity: 0;
            margin-top: 50%;
            margin-bottom: 50%
        }
        100% {
            opacity: 1;
            margin: 1em;
        }
    }
    @-o-keyframes slidein {
        2%   {
            opacity: 0;
            margin-top: 50%;
            margin-bottom: 50%
        }
        100% {
            opacity: 1;
            margin: 1em;
        }
    }
    @keyframes slidein {
        2%   {
            opacity: 0;
            margin-top: 50%;
            margin-bottom: 50%
        }
        100% {
            opacity: 1;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    