@import "variables.scss";
@import "mixin.scss";

@import "auth.scss";
@import "contact.scss";
@import "forms.scss";
@import "navtree.scss";
@import "user.scss";

@import "footer.scss";
//@import "products.scss";
//@import "users.scss";

//@import url('https://fonts.googleapis.com/css?family=Sarina');


#splash-pag{
    background-color: #4EE;
}

/* ==========================================================================
   CSS general de la aplicacion "mobile first"
   ========================================================================== */
    html,
    body {
        display: flex;
        flex-direction: column;
        height: 100%;
        .div-full {
            height: 100%;
        }
    }

    .profile{
        font-size: 50%;
    }

/* ==========================================================================
   Css para el section
   ========================================================================== */
    main {
        background-color: $color_gris_oscuro;
        height: 100%;
        width: 100%;
    }

    section {
        display: block;
        background-color: $color_gris_oscuro;
        padding: $padding_size;
        @include border($border_size, transparent);

        @include mq-phone-width {
            @include responsive-layout(auto, 100%);    
        }

        @include mq-tablet-width {
            @include responsive-layout(400px, 100%);    
        }

        @include mq-desktop-width {
            @include responsive-layout(600px, 100%);    
        }

        @include mq-panoramic-desktop-width {
            @include responsive-layout(800px, 100%);    
        }

        h2 {
            color: $color_alerta;
            font-size: 3em;
            font-weight: bold;
            padding: 5%;
        }
    }

/* ==========================================================================
   Css para el main section
   ========================================================================== */
   .base-section {
        @include background-default('../../images/pantalla-carga.png');
        @media (min-width: #{$tablet-width}) {
            @include background-cover('../../images/background.png');
        }
   }

   .base-article {
        @include border-radius(1px);

        align-self: center;
        background-color: $color_gris_translucido;
        height: auto;
        min-height: 40%;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        max-width: 450px;
        width: 90%;

        #main-title {
             /* tiempo de duracion de la animacion */
            animation-duration: 5s;
            /* nombre de la animacion */
            animation-name: slidein;
            /* veces que se repite la animcaion */
            animation-iteration-count: 1;    
            color: $color_alerta;
            font-size: 3em;
            font-weight: bold;
            padding: 5%;
        }
   }

   .alert-article {
       background-color: $color_rojo_translucido;
       h2 {
           color: $color_amarillo;
       }
   }

   .button-default{
        @include border($button_border_size, $color_blanco);
        @include border-radius(1px);
        align-self: center;
        color: $color_gris_oscuro;
        font-size: $font_size * 1.5;
        padding-bottom: 0.25em;
        padding-top: 0.25em;
        margin-bottom: 5%;
        width: 90%;
        

        &:hover{
            background-color: $color_blanco;
            color: $color_verde;
            border: $button_border_size solid $color_verde;
        }
   }

/* ==========================================================================
   Css animaciones
   ========================================================================== */
    /* declaramos la animacion con los diferentes prefijos,
    desde el inicio (0%) asta el fin (100%) */
    @-webkit-keyframes slidein {
        2% {
            opacity: 0;
            margin-top: 50%;
            margin-bottom: 50%
        }
        100% {
            opacity: 1;
            margin: 1em;
        }
    }
    @-moz-keyframes slidein {
        2%   {
            opacity: 0;
            margin-top: 50%;
            margin-bottom: 50%
        }
        100% {
            opacity: 1;
            margin: 1em;
        }
    }
    @-o-keyframes slidein {
        2%   {
            opacity: 0;
            margin-top: 50%;
            margin-bottom: 50%
        }
        100% {
            opacity: 1;
            margin: 1em;
        }
    }
    @keyframes slidein {
        2%   {
            opacity: 0;
            margin-top: 50%;
            margin-bottom: 50%
        }
        100% {
            opacity: 1;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    