
/* Colores */
$color_alerta: #F88529;
$color_amarillo: #CCD229;
$color_azul: #1171A3;
$color_azul_claro: #52B9E9;
$color_blanco: #FFFFFF;
$color_gris: #999999;
$color_gris_transulucido: rgba(15,15,15,.3);
$color_gris_claro: #dcdcdc;
$color_gris_oscuro: #313b3d;
$color_rojo: #fa3031;
$color_verde: #37a000;
$color_violeta: #932ab6;
/* sizes */
$border_size: 2px;
$font_size: 1em;
$padding_size: 0.5em;
$padding_full: 1em;

//@import "scss";

//@import url('https://fonts.googleapis.com/css?family=Sarina');

/* ==========================================================================
   SASS MIXINGS
   ========================================================================== */
    @mixin border-invisible($size) {
        border-color: transparent;
        border-bottom: $size solid $color_verde;
    }

    @mixin border-radius($size) {
        border: $size solid $color_gris;
        -moz-border-radius: 0.5em;
        -webkit-border-radius: 0.5em;
        border-radius: 0.5em;
    }

/* ==========================================================================
   CSS general de la aplicacion "mobile first"
   ========================================================================== */
    html,
    body {
        display: flex;
        flex-direction: column;
        height: 100%;

        .div-full {
            height: 100%;
        }
    }

/* ==========================================================================
   Css para la barra de navegación principal
   ========================================================================== */
    header {
        flex: 0 0 auto;
        background-color: $color_gris_claro;
        padding-top: $padding_size;
    }

    nav {
        flex-direction: column;

        .menu {
            @include border-invisible(2px);
            background-color: $color_gris_oscuro;
            width: 100%;
            float: left; /* Desplazamos el nav hacia la izquierda */

            ul {
                list-style: none;
                -webkit-margin-before: 0em;
                -webkit-margin-after: 0em;
                overflow: hidden; /* Limpiamos errores de float */
                li {
                    float: left;
                    font-size: $font_size * 2;
                    padding-right: $padding_size;
                    
                    .active a{
                        color: $color_verde !important;
                    }
                }
            }
        }
    }

    .nav-button {
        display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
        color: $color_amarillo;
        margin-left: $padding_size / 2;
        background-color: $color_gris_oscuro;
        border: $border_size solid $color_gris_oscuro;
        &:hover{
            text-decoration:none;
            color: $color_verde;
            border-bottom: $border_size solid $color_verde;
        }
    }

    .profile{
        font-size: 50%;
    }

/* ==========================================================================
   Css para slidebar
   ========================================================================== */
    /* Sidebar */

    .sidebar {
        width: 230px;
        float: left;
        display: block;
        background: #111;
        color: #eee;
        position: relative;

        hr {
            border-bottom: 1px solid #333 !important;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;

            li {
                list-style-type: none;
            }
        }
        .sidebar-inner {
            display: block;
            width: 100%;
            margin: 0 auto;
            position: absolute;
            z-index: 60;
            background: #111;
        }

        .navi {
            li {
                i {
                    margin-right: 5px;
                }
                span i {
                    margin: 0;
                }

                ul {
                    display: none;
                    background: #181818;

                    li a {
                        display: block;
                        background: none;
                        padding: 10px 0;
                        padding-left: 30px;
                        text-decoration: none;
                        color: #999;
                        border-bottom: 1px solid #222;
                    }

                    li.active a {
                        background: #131313;
                        border-bottom: 1px solid #222;
                    }

                    li a:hover {
                        background: #131313;
                        border-bottom: 1px solid #222;
                    }
                }
            }
            
            li.open ul {
                display: block;
            }
        }

        .navi > li > a {
            display: block;
            padding: 12px 20px;
            font-size: 15px;
            line-height: 25px;
            color: #fff;
            text-decoration: none;
            border-bottom: 1px solid #222;
            background-color: #111;
        }

        .navi > li > a:hover, .sidebar .navi > li.open > a {
            border-bottom: 1px solid #222;
            background-color: #222;
            color: #fff;
        }

        .navi > li.nlightblue > a:hover,
        .navi > li.open.nlightblue > a,
        .navi > li.current.nlightblue > a {
            background: $color_azul_claro !important;
            -webkit-transition: background 0.5s ease;
            -moz-transition: background 0.5s ease;
            -o-transition: background 0.5s ease;
            transition: background 0.5s ease;
        }

        .navi > li.nblue > a:hover,
        .navi > li.open.nblue > a,
        .navi > li.current.nblue > a {
            background: $color_azul !important;
            -webkit-transition: background 0.5s ease;
            -moz-transition: background 0.5s ease;
            -o-transition: background 0.5s ease;
            transition: background 0.5s ease;
        }

        .navi > li.ngreen > a:hover,
        .navi > li.open.ngreen > a,
        .navi > li.current.ngreen > a {
            background: $color_verde !important;
            -webkit-transition: background 0.5s ease;
            -moz-transition: background 0.5s ease;
            -o-transition: background 0.5s ease;
            transition: background 0.5s ease;
        }

        .navi > li.norange > a:hover,
        .navi > li.open.norange > a,
        .navi > li.current.norange > a {
            background: $color_alerta !important;
            -webkit-transition: background 0.5s ease;
            -moz-transition: background 0.5s ease;
            -o-transition: background 0.5s ease;
            transition: background 0.5s ease;
        }

        .navi > li.nred > a:hover,
        .navi > li.open.nred > a,
        .navi > li.current.nred > a {
            background: $color_rojo !important;
            -webkit-transition: background 0.5s ease;
            -moz-transition: background 0.5s ease;
            -o-transition: background 0.5s ease;
            transition: background 0.5s ease;
        }

        .navi > li.nviolet > a:hover,
        .navi > li.open.nviolet > a,
        .navi > li.current.nviolet > a {
            background: $color_violeta !important;
            -webkit-transition: background 0.5s ease;
            -moz-transition: background 0.5s ease;
            -o-transition: background 0.5s ease;
            transition: background 0.5s ease;
        }

        /* Sidebar dropdown */

        .sidebar-dropdown* {
            text-decoration: none;
        }

        .sidebar-dropdown {
            display: none;

            a {
                color: #ddd;
                background-color: #343434;
                padding: 6px;
                text-transform: uppercase;
                text-align: center;
                font-size: 13px;
                display: block;
                border-top: 1px solid #666;
                border-bottom: 1px solid #333;
            }

            a:hover {
                text-decoration: none;
            }
        }

        /* Sidebar widget */

        .sidebar-widget {
            padding: 10px 5px;
        }

        .ui-datepicker {
            width: 95%;
            margin: 0 auto;
            background: #111;
            color: #888;
            border: 0;
            padding: 0;
        }

        .ui-datepicker-header {
            background: #222;
            border: 1px solid #212121;
        }

        .ui-datepicker-prev:hover {
            background: transparent;
            border: 0;
            top: 2px !important;
            left: 2px !important;
        }

        .ui-datepicker-next:hover {
            background: transparent;
            border: 0;
            top: 2px !important;
            right: 2px !important;
        }

        .ui-state-default {
            background: #222;
            border: 0;
            text-align: center;
            color: #ccc;

            :hover {
                background: #282828;
                color: #999;
            }
        }

        .ui-state-hightlight, .sidebar .ui-state-active {
            background: #444;
        }
    }


/* ==========================================================================
   Css para el section
   ========================================================================== */
    main{
        background-color: $color_gris_oscuro;
        padding: $padding_size / 2;
        width: 100%;
    }

    section{
        display: block;
        background-color: $color_gris_oscuro;
        padding: $padding_size;
        @include border-invisible(2px);
        height: 100%;
    }

/* ==========================================================================
   Css para el main section
   ========================================================================== */
   #main-view {
        @include border-radius(1px);
        
        background-repeat: no-repeat;
        //background-origin: border-box;
        background-image: url('../../images/pantalla-carga.png');
        background-size: cover;
        height: 100%;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
   }

   .main-article {
        @include border-radius(1px);

        align-self: center;
        background-color: $color_gris_transulucido;
        height: 40%;
        margin-top: 30%;
        margin-left: auto;
        margin-right: auto;
        width: 90%;

        h2 {
             /* tiempo de duracion de la animacion */
            animation-duration: 5s;
            /* nombre de la animacion */
            animation-name: slidein;
            /* veces que se repite la animcaion */
            animation-iteration-count: 1;    
            color: $color_alerta;
            font-size: 3em;
            font-weight: bold;
            padding: 5%;
        }
   }

   .button-default{
        align-self: center;
        margin-bottom: 5%;
        width: 90%;
   }

/* ==========================================================================
   Css footer
   ========================================================================== */
    footer {
        color: $color_blanco;
        flex: 2 1 auto;
        align-self: flex-end;
        background-color: $color_gris_claro;
        text-align: center;
        max-height: 10%;
    }

/* ==========================================================================
   Css animaciones
   ========================================================================== */
    /* declaramos la animacion con los diferentes prefijos,
    desde el inicio (0%) asta el fin (100%) */
    @-webkit-keyframes slidein {
        2% {
            opacity: 0;
            margin-top: 50%;
            margin-bottom: 50%
        }
        100% {
            opacity: 1;
            margin: 1em;
        }
    }
    @-moz-keyframes slidein {
        2%   {
            opacity: 0;
            margin-top: 50%;
            margin-bottom: 50%
        }
        100% {
            opacity: 1;
            margin: 1em;
        }
    }
    @-o-keyframes slidein {
        2%   {
            opacity: 0;
            margin-top: 50%;
            margin-bottom: 50%
        }
        100% {
            opacity: 1;
            margin: 1em;
        }
    }
    @keyframes slidein {
        2%   {
            opacity: 0;
            margin-top: 50%;
            margin-bottom: 50%
        }
        100% {
            opacity: 1;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    