/* Colores */
$color_alerta: #F88529;
$color_amarillo: #CCD229;
$color_azul: #1171A3;
$color_azul_claro: #52B9E9;
$color_azul_facebook: #3D5AA7;
$color_azul_twitter: #4DC7EE;
$color_blanco: #FFFFFF;
$color_gris: #999999;
$color_gris_translucido: rgba(15,15,15,.3);
$color_gris_claro: #dcdcdc;
$color_gris_oscuro: #313b3d;
$color_rojo: #fa3031;
$color_rojo_google: #C52227;
$color_verde: #37a000;
//$color_verde_mail: #099A49;
$color_verde_mail: rgba(9,154,73,.7);
$color_violeta: #932ab6;
/* sizes */
$border_size: 3px;
$button_border_size: 5px;
$font_size: 1em;
$padding_size: 0.5em;
$padding_full: 1em;
/* size - media queries */
$phone-width: 480px;
$tablet-width: 768px;
$desktop-width: 1023px;