<div class="container ">
    <div class="row">
       
        <div class="col-sm-6 col-md-4 col-md-offset-4 signup-well">
            <div class="modal-header">
            <h1><C>Unete a findMenu</C></h1>
        </div> 
            <br>
            <form class="signup_form" name="signup_form"  novalidate>
                
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input required type="email"  name="inputEmail" ng-model="vm.inputEmail"
                           minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

                    <div ng-messages="signup_form.inputEmail.$error" role="alert">
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Your email must be between 10 and 100 characters long and look like an e-mail address.
                        </div>
                    </div>
                </md-input-container>
                
                <md-input-container class="md-block">
                    <label>Nombre de usuario</label>
                    <input required name="inputUser" ng-model="vm.inputUser">
                    <div ng-messages="signup_form.inputUser.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input required ng-minlength="5" ng-maxlength="10"type="password" name="inputPass" ng-model="vm.inputPass">
                    <div ng-messages="signup_form.inputPass.$error" role="alert">
                        <div ng-message-exp="['required', 'minlength', 'maxlength']">
                            The password is required.Password must be at least 5 characters and maximun 10.
                        </div>
                    </div>   
                </md-input-container>
                
                <md-input-container class="md-block">
                    <label>Repeat Password</label>
                    <input required ng-minlength="5" ng-maxlength="10"type="password" name="inputPass2" ng-model="vm.inputPass2">
                    <div ng-messages="signup_form.inputPass2.$error" role="alert">
                        <div ng-message-exp="['required', 'minlength', 'maxlength']">
                            The password is required.Password must be at least 5 characters and maximun 10.
                        </div>
                    </div>   
                    <p ng-show="vm.inputPass !== vm.inputPass2">
                        Password do not match
                    </p>
                </md-input-container>

                <br>
                <button class="btn btn-lg btn-primary btn-block"
                        type="submit"
                        ng-disabled="signup_form.$invalid" ng-click="vm.SubmitSignup()">Enviar</button>
                <div id="resultMessageFail" class="msg_error">{{vm.resultMessageFail}}</div>
            </form>
        </div>
    </div>
</div>