<!-- footer -->
<div class="footer"> 
  <span role="copyright">
    <div class="box-copyright">
        <address role="address">
          <p>© findMenu. All Rights Reserved. Est. MMXVII</p>
          <a href="/contact" >Contact us {{$scope.footerMesg}}</a>
        </address>
        <a href="/" ><img class="logo" src="/images/icons-findMenu.svg"></a>
    </div>
    
    <div class="box_logos">
      <h3>Devoloped by Óscar Otero Millán using:</h3>
      <picture name="logo CSS3" alt="Imagen del logo de CSS3">
          <source media="(max-width: 1080px)" srcset="../images/footer/css3-64.png">
          <source media="(min-width: 1081px)" srcset="../images/footer/css3-128.png">
          <img src="../images/footer/css3-128.png" alt="Imagen del logo de CSS3"/>
      </picture>
    
      <picture name="logo HTML5" alt="Imagen del logo de HTML5">
          <source media="(max-width: 1080px)" srcset="../images/footer/html5-64.png">
          <source media="(min-width: 1081px)" srcset="../images/footer/html5-128.png">
          <img src="../images/footer/html5-128.png" alt="Imagen del logo de HTML5"/>
      </picture>
    
      <picture name="logo NodeJS" alt="Imagen del logo de NodeJS">
          <source media="(max-width: 1080px)" srcset="../images/footer/nodejs-64.png">
          <source media="(min-width: 1081px)" srcset="../images/footer/nodejs-128.png">
          <img src="../images/footer/nodejs-128.png" alt="Imagen del logo de NodeJS"/>
      </picture>  
    
      <picture name="logo Angular" alt="Imagen del logo de Angular">
          <source media="(max-width: 1080px)" srcset="../images/footer/angular-64.png">
          <source media="(min-width: 1081px)" srcset="../images/footer/angular-128.png">
          <img src="../images/footer/angular-128.png" alt="Imagen del logo de Angular"/>
      </picture>
    </div>
  </span>
</div>
<!-- footer -->